*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  /* Bounds */
  /* --header-height: 5rem; */
  --header-height: clamp(3rem, 10vh, 5rem);
  --max-width-mitem: 50rem;
  --padding-inline: clamp(1rem, 5vw, 2rem);
  --content-inline-max: 90rem;
  --padding-inline-min: 2rem;
  --inline-free: calc(100vw - var(--content-inline-max));
  --padding-inline-app: max(var(--padding-inline), calc(0.5 * var(--inline-free)));

  /* Colors */
  --clr-black: #141414;
  --clr-black-50: #14141480;
  --clr-black-soft: #181818;
  --clr-white: #e3e3f0;
  --clr-white-soft: #ababab;
  --clr-primary: #8a221c;
  --clr-primary-mute: #621814;

  /* Scaling */
  --step--2: clamp(0.4775rem, 0.5066rem + -0.0324vi, 0.5002rem);
  --step--1: clamp(0.7072rem, 0.6885rem + 0.0934vi, 0.7726rem);
  --step-0: clamp(1rem, 0.9286rem + 0.3571vi, 1.25rem);
  --step-1: clamp(1.414rem, 1.2401rem + 0.8693vi, 2.0225rem);
  --step-2: clamp(1.9994rem, 1.6357rem + 1.8186vi, 3.2724rem);
  --step-3: clamp(2.8271rem, 2.1221rem + 3.5252vi, 5.2948rem);
  --step-4: clamp(3.9976rem, 2.6921rem + 6.5276vi, 8.5669rem);
  --step-5: clamp(5.6526rem, 3.3072rem + 11.7267vi, 13.8613rem);
  --halfstep: 1.272; /* scalar to nudge by half a step, equal to sqrt(1.618) */

  /* Spacing */
  --gap-xs: 0.128em;
  --gap-s: 0.272em;
  --gap-m: 0.618em;
  --gap-l: 1.000em;
  --gap-xl: 1.618em;
  --gap-xxl: 2.618em;

  /* SVG */
  --dappled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ababab' fill-opacity='0.25' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  --tiled: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23ababab' fill-opacity='0.125'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  --checkered: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23ababab' fill-opacity='0.125'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  --diagonals: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23181818' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
h1 {
  font-size: var(--step-3);
  font-weight: 700;
}
h2 {
  font-size: var(--step-2);
  font-weight: 400;
}
h3,
.style-h3 {
  font-size: var(--step-1);
  font-weight: 700;
  line-height: .85;
}

body {
  font-size: var(--step-0);
  margin: 0;
  display: grid;
  /* min-width: 320px; */
  min-height: 100vh;
}

button {
  border-radius: 8px;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--clr-black);
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
ul {
  list-style: none;
}

.btn {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary-mute);
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25em;
  font-size: var(--step-1);
  padding: 0.25rem var(--step-0);
  text-shadow: 2px 2px 2px var(--clr-black);
  text-transform: uppercase;
  transition: 250ms ease-in;
}
.btn:hover {
  border-color: var(--clr-white);
}
.btn__fill {
  background-color: var(--clr-black);
}
.btn__fill:hover {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary-mute);
}

.align-center { text-align: center }
.align-end { text-align: end }
.clr-primary { color: var(--clr-primary) }
.clr-white-soft { color: var(--clr-primary) }
.ff-deco { font-family: Lobster, Oswald, Inter, system-ui }
.fs-1 { font-size: var(--step-1) }
.fs-2 { font-size: var(--step-2) }
.fw-700 { font-weight: 700 }
.pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e3e3f0' fill-opacity='0.10' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.underline { text-decoration: underline max(0.0625em, 0.25rem) }

.bg-checkered { background-image: var(--checkered) }
.flexrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mb-xs { margin-bottom: var(--gap-xs) }
.mb-s { margin-bottom: var(--gap-s) }
.mb-m { margin-bottom: var(--gap-m) }
.mb-l { margin-bottom: var(--gap-l) }
.mb-xl { margin-bottom: var(--gap-xl) }
.mb-xxl { margin-bottom: var(--gap-xxl) }
.ms-xs { margin-inline-start: var(--gap-xs) }
.ms-s { margin-inline-start: var(--gap-s) }

.pi-std { padding-inline: var(--padding-inline) }
.pi-half { padding-inline: calc(0.5 * var(--padding-inline)) }
.pl-std { padding-left: var(--padding-inline) }
.pr-std { padding-right: var(--padding-inline) }

/* #app { */
  /* width: clamp(20rem, 100vw, 90rem); */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
/* } */


